:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: #eee;
}
.border {
  border: 1px solid #eee;
}

.flow-container {
  display: grid;
  grid-template-columns: 80% 20%;
}

.flow-layout {
  height: 100vh;
}

/* CSS */
.btn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.heading-label {
  padding: 6px 0rem;
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.side-panel .nodes-list-container {
  padding: 1rem 1rem;
}
.side-panel .nodes-operations-container {
  padding: 0rem 1rem;
}

.text-updater-node {
  min-height: 50px;
  border: 1px solid #eee;
  border-radius: 5px;
  background: white;
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.26) 7px 5px 4px;
}
.text-updater-node:active {
  border: 2px solid black;
}
.text-updater-node label {
  display: block;
  color: #000;
  font-weight: 700;
  font-size: 0.85rem;
  min-height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bar {
  background: #9aff00;
  text-align: center;
  padding: 0rem;
}
.text-updater-node .message-text {
  padding: 1rem;
}
.textarea {
  width: 100%;
  min-height: 5rem;
  font-size: 1rem;
}
.form-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: block;
}
.close-edit {
  margin-right: 1rem;
  border:0;
}
  .validation-alert {
    position: absolute;
    padding: 1rem;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    background: yellow;
    font-weight: 600;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.45);
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}